.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

@media screen  {
  .column {
    width: 100%;
  }

h2 {
  font-family: monospace;
  text-align: center;

}
h3 {
  font-family: monospace;

}

div {
  max-width: 490px;
}
